
@{
    Layout = null;
}
@model LoginWithASPNETMVC.ViewModels.AccountViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
   
    <h2>Login</h2>
    @using (Html.BeginForm("Login", "Account"))
    {
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td> @Html.LabelFor(model => model.account.Username)</td>
            <td>@Html.TextBoxFor(model => model.account.Username)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.account.PassWord)</td>
            <td>@Html.PasswordFor(model => model.account.PassWord)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Login" /></td>
        </tr>
    </table>
}





</body>
</html>
